<h1 class="display-4"><%= link_to @track.name, track_path(@track) %> > Metrics</h1>

<% if @metrics.any? %>
<% else %>
  <p class="lead">You have no metrics set up for this track yet</p>
<% end %>

<ul class="list-group my-4">
  <% @metrics.each do |metric| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= metric.name %> (<%= metric.unit %>)</div>
        <div class="col"><%= metric.dots.size %> dots</div>
        <div class="col"><%= link_to 'show', track_metric_path(@track, metric) %></div>
        <div class="col"><%= link_to 'delete', track_metric_path(@track, metric), method: :delete, data: {confirm: 'Are you sure?'} %></div>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'new metric', new_track_metric_path(@track), class: 'btn btn-outline-primary' %>
