<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'dots', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'tracks', tracks_path, class: 'nav-link' %>
      </li>

      <!-- show menu if track is selected -->
      <% if params[:track_id] %>
        <li class="nav-item">
          <%= link_to 'experiments', track_experiments_path(@track), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'metrics', track_metrics_path(@track), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <% if current_user.dots.any? %>
      <span class="navbar-text mr-4">
        Total dots: <span class="text-success"><%= current_user.dots.size %></span>
      </span>

      <span class="navbar-text mr-4">
        Last dot at: <span class="text-success"><%= time_ago_in_words(current_user.dots.order(created_at: :desc).first.created_at) %> ago</span>
      </span>
    <% end %>

    <span class="navbar-text">
      <button type="button" class="btn btn-sm btn-danger text-white" data-toggle="modal" data-target="#exampleModal">
        new dot
      </button>
    </span>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>

  </div>
</nav>
