<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Record a new dot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: dot, local: true) do |form| %>
          <% if dot.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(dot.errors.count, "error") %> prohibited this dot from being saved:</h2>

              <ul>
                <% dot.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :metric_id %>
            <%= form.collection_select(:metric_id, current_user.metrics, :id, :name, {}, { class: 'form-control select2' }) %>

          </div>

          <div class="form-group">
            <%= form.label :value %>
            <%= form.text_field :value, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Create Dot', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
